*{
    padding: 0;
}

body{
    width: 1200px;
    margin: 0 auto;
}

.Product-highlight-w {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
    
}


.Product-highlight1{
    grid-column: 1;
}

.Product-highlight2{
    grid-column: 2;
}

.Product-highlight3{
    grid-column: 3;
}

.Product-highlight4{
    grid-column: 4;
}

.Product-highlight5{
    grid-column: 5;
}

.highlight-img{
    width: 100%
}

.mobile-highlight-img{
    display: none;
}

@media only screen and (max-width: 600px){
    body{
        width: 600px;
    }
    .Product-highlight-w {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-row-gap: 20px;
    }
    .Product-highlight1{
        grid-column: 1/3;
    }

    .Product-highlight2{
        grid-column: 3/5;
    }

    .Product-highlight3{
        grid-column: 1/5;
        margin-left: 10px;
        margin-right: 10px;
    }

    .Product-highlight4{
        grid-column: 1/3;
    }

    .Product-highlight5{
        grid-column: 3/5;
    }

    .highlight-img{
        height: 130px;
        display: none;
    }

    .mobile-highlight-img{
        display: block;
        width: 100%;
        height: 100px;
    }

}